# OS specific
.DS_Store

# Initialization Files
*.ini

# LaTeX Compilation Files
*.aux
*.fdb_latexmk
*.fls
*.pre
*.synctex.gz
*.log
*.out

/TEMPLATE/*.out
/TEMPLATE/*.png
/TEMPLATE/*.jpg

/*/Homework/*/*.out
/*/Homework/*/*.png
/*/Homework/*/*.jpg

/*/Notes/*/*.out
/*/Notes/*/*.png
/*/Notes/*/*.jpg

# KiCad
*.gm1
*.gbrjob
*.gbl
*.gbs
*.gbo
*.gtl
*.gts
*.gto
*.drl

# Assembly
*.obj

# Course Specific
/ECE 306H/ARM Development/
