# OS specific
.DS_Store

# Initialization Files
*.ini

# LaTeX Compilation Files
*.aux
*.fdb_latexmk
*.fls
*.pre
*.synctex.gz
*.log
*.out

/TEMPLATE/*.png
/TEMPLATE/*.jpg

/*/assignments/*/*.png
/*/assignments/*/*.jpg

/*/notes/*/*.png
/*/notes/*/*.jpg

# Textbooks
*textbook.pdf

# KiCad
*.gm1
*.gbrjob
*.gbl
*.gbs
*.gbo
*.gtl
*.gts
*.gto
*.drl

# Assembly
*.obj

# Course Specific
/ECE_302H/labs/pcbs/
/ECE_306H/arm-development/
